[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
joblib = "*"
requests = "*"
requests-html = "*"
bs4 = "*"
colorama = "*"
stem = "*"
selenium = "*"
xlrd = "*"
socials = "*"
tqdm = "*"
openpyxl = "*"
email-validator = "*"

[dev-packages]
black = "*"
sphinx = "*"
pydocstyle = "*"
check-manifest = "*"
codespell = "*"
sphinx-bootstrap-theme = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
typing-extensions = "*"
mypy = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
